fastapi==0.109.0
uvicorn==0.27.0
mlflow==2.11.3
psycopg2-binary==2.9.9
pgvector==0.2.5
openai==1.12.0
langchain==0.1.10
python-multipart==0.0.9
# Dependencias para procesamiento de documentos
pypdf==3.17.4
python-docx==1.1.0
requests==2.31.0
beautifulsoup4==4.12.3
setuptools
