OPENAI_API_KEY=
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_CHAT_MODEL=gpt-4o
DATABASE_URL=
DIRECT_URL=
POSTGRES_SUPERUSER_URL=
REDIS_URL=
MLFLOW_TRACKING_URI=
ML_API_URL=
NEXTAUTH_SECRET=
NEXTAUTH_URL=
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_MLFLOW_URL=
